@{
    Layout = null;
}
@model baitaplon.Models.RegisterViewModel

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Register | Admin - CodeLean eShop</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="CodeLean Design">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <link href="~/assets/css/main.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf/notyf.min.js"></script>
</head>

<body>
    <div class="app-container app-theme-white body-tabs-shadow">
        <div class="app-container">
            <div class="h-100 bg-plum-plate bg-animation">
                <div class="d-flex h-100 justify-content-center align-items-center">
                    <div class="mx-auto app-login-box col-md-8">
                        <div class="app-logo-inverse mx-auto mb-3"></div>
                        <div class="modal-dialog w-100 mx-auto">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="h5 modal-title text-center">
                                        <h4 class="mt-2">
                                            <div>Welcome,</div>
                                            <span>Please create your account below.</span>
                                        </h4>
                                    </div>
                                    <form asp-controller="Account" asp-action="Register" method="post">
                                        <div class="form-row">
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <input name="email" asp-for="Email" id="exampleEmail" placeholder="Email here..."
                                                           type="email" class="form-control">
                                                    <span asp-validation-for="Email" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <input name="password" asp-for="Password" id="examplePassword"
                                                           placeholder="Password here..." type="password"
                                                           class="form-control">
                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="position-relative form-group">
                                                    <input name="confirmPassword" asp-for="ConfirmPassword" id="confirmPassword"
                                                           placeholder="Confirm your password..." type="password"
                                                           class="form-control">
                                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer clearfix">
                                            <div class="float-right">
                                                <button class="btn btn-primary btn-lg">Create Account</button>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="text-center mt-3">
                                        <span>Already have an account? </span>
                                        <a href="~/Account/Login">Login here</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/assets/scripts/main.js"></script>
    <script>
        var notyf = new Notyf();
        var message = '@TempData["message"]';
        var error = '@TempData["error"]';
        if (message) {
            notyf.success(message);
        }
        if (error) {
            notyf.error(error);
        }
    </script>
</body>

</html>
